/*
 * Copyright 2022 SiFlower Corporation.
 */

/dts-v1/;
#include "sf21a6826-fullmask.dtsi"

/ {
	model = "siflower sf21a6826sg evaluation board(Booting from NAND)";
	compatible = "siflower,sf21a6826-6826sg_v4-nand", "siflower,sf21a6826";

	chosen {
		stdout-path = "serial1:115200n8";
	};

	memory@20000000 {
		device_type = "memory";
		reg = <0x0 0x20000000 0x0 0x10000000>;
	};

	gpio_keys {
		compatible = "gpio-keys";
		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio 20 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
		};
	};
};

&cpus {
	timebase-frequency = <1250000000>;
};

&topcrm {
	assigned-clocks = <&topcrm CLK_CMNPLL_VCO>, <&topcrm CLK_PIC>, <&topcrm CLK_AXI>,
		<&topcrm CLK_AHB>, <&topcrm CLK_APB>, <&topcrm CLK_UART>,
		<&topcrm CLK_IRAM>, <&topcrm CLK_NPU>, <&topcrm CLK_ETHTSU>,
		<&topcrm CLK_GMAC_BYP_REF>, <&topcrm CLK_USB>, <&topcrm CLK_USBPHY>,
		<&topcrm CLK_SERDES_CSR>, <&topcrm CLK_CRYPT_CSR>, <&topcrm CLK_CRYPT_APP>,
		<&topcrm CLK_IROM>, <&topcrm CLK_PLL_TEST>;
	assigned-clock-rates = <2500000000>, <416666666>, <416666666>,
		<250000000>, <178571428>, <89285714>,
		<416666666>, <416666666>, <89285714>,
		<250000000>, <250000000>, <50000000>,
		<89285714>, <73529411>, <312500000>,
		<312500000>, <25000000>;
};

&pvt {
	status = "okay";
};

&pcie0 {
	reset-gpios = <&gpio 19 GPIO_ACTIVE_LOW>;
	reset-ms = <100>;
	num-lanes = <2>;
	lane-mode = <1>;
	status = "okay";

	pcie@0,0 {
		reg = <0x0000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;

		wifi@0,0 {
			reg = <0x0 0 0 0 0>;
			nvmem-cells = <&mtd_mac_address>, <&mtd_wifi_version>, <&mtd_wifi_info>, <&mtd_rssi_offset>, <&mtd_refpower>, <&mtd_calipower>;
			nvmem-cell-names = "mac-address", "wifi-version", "wifi-info", "rssi-offset", "refpower", "calipower";
			mac-address-increment = <2>;
		};

		wifi@0,1 {
			reg = <0x100 0 0 0 0>;
			nvmem-cells = <&mtd_mac_address>, <&mtd_wifi_version>, <&mtd_wifi_info>, <&mtd_rssi_offset>, <&mtd_refpower>, <&mtd_calipower>;
			nvmem-cell-names = "mac-address", "wifi-version", "wifi-info", "rssi-offset", "refpower", "calipower";
			mac-address-increment = <6>;
		};
	};
};

&pcie1 {
	reset-ms = <100>;
	num-lanes = <1>;
	lane-mode = <0>;
	status = "disabled";
};

&watchdog {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&leds {
	status = "okay";
	led-internet {
		label = "led-internet";
		gpios = <&gpio 32 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "none";
	};
	led-power {
		label = "led-power";
		gpios = <&gpio 33 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "default-on";
	};
};

&spi0 {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <35000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;

	        partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "fbl";
				reg = <0x0 0x20000>;
			};

			partition@20000 {
				label = "ubi";
				reg = <0x20000 0x0>;
				compatible = "linux,ubi";

				volumes {
					factory: ubi-volume-factory {
						volname = "factory";
					};
				};
			};
		};
	};
};

&i2c0 {
	status = "disabled";
};

&xgmac0 {
	status = "okay";
	phy-handle = <&sfphy1>;
	nvmem-cells = <&mtd_mac_address>;
	nvmem-cell-names = "mac-address";
};

&xgmac1 {
	status = "okay";
	phy-handle = <&sfphy2>;
	nvmem-cells = <&mtd_mac_address>;
	nvmem-cell-names = "mac-address";
};

&xgmac2 {
	status = "okay";
	phy-handle = <&sfphy3>;
	nvmem-cells = <&mtd_mac_address>;
	nvmem-cell-names = "mac-address";
};

&xgmac3 {
	status = "okay";
	phy-handle = <&sfphy4>;
	nvmem-cells = <&mtd_mac_address>;
	nvmem-cell-names = "mac-address";
	mac-address-increment = <1>;
};


&mdio0 {
	reset-gpios = <&gpio 39 GPIO_ACTIVE_LOW>;
	reset-delay-us = <10000>;
	reset-post-delay-us = <100000>;
	clock-frequency = <800000>;

	sfphy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};

	sfphy2: ethernet-phy@2 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x2>;
	};

	sfphy3: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
	};

	sfphy4: ethernet-phy@4 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x4>;
	};
};

&dpns {
	status = "okay";
};

&edma {
	status = "okay";
};

&qsgmii_pcs {
	status = "okay";
};

&crypto {
	status = "okay";
};

#include "sf21a6826-factory.dtsi"
